/*
-Steve Barry-
css file for generated readme
*/

h1{
    font-size: 200%;font-weight: bold;
}
h2{
    color: green;
}
#star, h2{
    font-size: 150%;font-weight: bold;
}
p{
    font-size: 100%;
}
.center{
    text-align:center;
}
#gitIcon{
    height: 50px;width: 50px;
}
a{
    text-decoration: none;color:green;
}